/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(204, 152, 196, 1) 0%,
    rgba(46, 133, 184, 1) 100%
  );
  font: 16px Arial, Helvetica, sans-serif;
}
